* {
  padding: 0;
  margin: 0;
}

body {
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.title {
  text-align: left;
}

/* SECTION INFO */

.info {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}

.info__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info__img {
  margin-left: auto;
}

/* SECTION TESTIMONIALAS */

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.testimonial {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
