* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#header {
  background-color: #00bdf8;
  padding: 20px 165px;
}
ul,
li {
  list-style: none;
}
.container {
  max-width: 1440px;
  font-size: 20px;
}
.nav_bar {
  display: flex;
  justify-content: space-between;
}
.nav_bar__items {
  display: flex;
  flex-direction: row;

  gap: 32px;
  justify-content: space-between;
}
.nav_bar__items > ul,
li {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.nav_p {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav__btn > button {
  background-color: #00bdf8;
  width: 168px;
  height: 44px;
  gap: 10px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 6px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}
#welcome {
  background-image: url(./img/png/image.png);
}
.welcom__items {
  padding: 208px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* .catalogs {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.catalogs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 20px;
}

.catalogs__grid > div {
  background: goldenrod;
}

.catalogs__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
} */
