* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  text-align: center;
}
.container {
  width: 1125px;
  /* height: 79; */
  max-width: 100%;
  opacity: 1;
  top: 10px;
  left: 245px;
  /* display: flex; */
}
.nav_bar {
  display: flex;
  flex-direction: row-reverse;
  gap: 200px;
  /* margin: 0 40px;   */
  padding: 100px;
}
.img {
  width: 580px;
  height: 415px;
  /* angle: 0 deg; */
  opacity: 1;
  top: 2140px;
  left: 270px;
  border-radius: 10px;
}

h3 {
  width: 454px;
  height: 114px;
  /* angle: 0 deg;
  opacity: 1;
  top: 2200px;
  left: 935px;
  margin-left: 800px;
  margin-bottom: 500px; */
}
