body {
  background-color: #cfbbbb;
  margin: 0;
}
.card {
  margin: 0 auto;
  background: #ffffff;
  width: 300px;
  border: ;

}

.card_img {
  background-color: #fff;
  width: 300px;
  margin: 0 auto;
  object-fit: cover;
  object-position: top;
}
.card  {
  border-radius: 2px solid rgb(112, 19, 19);
  background-color: black;
}
.infokom {
  padding: 16px;
  font-style: inherit;
}
.infokom {
  /* border-radius: 13px; */
  /* background-color: aquamarine; */
  width: 100%;
  padding: 8px;
}
.sss {
  background: #bbdce3;
  text-shadow: darkcyan;
  margin-left: 70px;
  /* padding-left: 5px; */
  /* color: blue; */
  font-size: smaller;
  width: 40%;
  border-radius: 30px;
  color: rgb(54, 76, 136);
  height: 40px;
}
