* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1420px;
  background-color: aliceblue;
  margin: 10px 40px;
}

.nav-bar {
  background-color: antiquewhite;
  display: flex;
  /* flex-direction: row; */
}
.nav-list {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
}
.nav-list > ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;

  gap: 50px;
}
.nav-bar_button {
  margin-r: 100px;
}
