* {
  margin: 0;

  padding: 0;
  font-family: sans-serif;
}
.container {
  max-width: 1366px;
  width: 100%;
  background-color: rgb(67, 156, 211);
  margin: 0 30px;
  display: flex;
}

h1,
h3 {
  text-align: center;
}

.contact {
  background-color: burlywood;
  width: 980px;
  height: 524px;
  top: 3557px;
  left: 193px;
  /* angle: 0 deg; */
  opacity: 1;
  /* border-width: 1px;
  margin-top: 100px;
  margin-left: 400px; */
  text-align: center;
  margin: 0 300px;
}

.marc {
  width: 40px;
  margin-right: 30px;
}
.img {
}
