body{
    background-color: lightblue;
    /* background-image: url(images.jpg); */
}
h1{
    color: rgb(25, 30, 30)  ;
    text-align: center;
    /* background-image: url(images.jpg) size: 30px;   ; ; */
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    }
.img{
    float: right;
    width: 500px;
    height: 400px;
    /* text-align: center; */

}
