header {
  background-color: rgb(23, 22, 22);
  //   background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  width: 769px;
  height: 742px;
  padding: 24px 162px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 188px;
  }

  &__logo {
    width: 75.31234741210938px;
    height: 54px;
    angle: 0 deg;
    opacity: 1;

    display: flex;

    flex-direction: row;
    // padding: 162px 24px;
    &__item_ul {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      gap: 10px;
    }
  }

  &__contact {
    flex-direction: column;
    gap: 20px;
    width: 798px;
  }
  &__btn {
    padding: 20px 24px;

    border-radius: 9999px;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;

    box-shadow: 0 4px 6px -1px rgba(116, 60, 60, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);

    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .btn-light {
    width: 155;
    height: 63;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding-top: 18px;
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 24px;
    border-radius: 56px;

    background-color: #ffffff;
    color: #1a1a1a;
    border-color: #e0e0e0;
  }

  .btn-dark {
    width: 211;
    height: 63;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;
    padding-top: 18px;
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 24px;
    border-radius: 74px;
    border-width: 1px;

    background-color: #2d2d2d;
    color: #ffffff; /* Oq matn */
    border-color: #2d2d2d;
  }
}
