* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}

.navbar {
  width: 100%;
  height: 44px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a,
.nav-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  opacity: 0.8;
  transition: opacity 0.3s;
  padding: 10px 0;
  display: block;
}

.nav-links a:hover,
.nav-icons a:hover {
  opacity: 1;
}

.apple-logo {
  width: 14px;
  height: auto;
  filter: invert(1);
  background-image: url(../applelogo.png);
}

.nav-icons img {
  width: 14px;
  height: 14px;
  filter: invert(1);
  margin-left: 15px;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.hero-text-container {
  padding-bottom: 50px;
}

.hero-section h1 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 30px;
  font-weight: 400;
  color: #f5f5f7;
  margin-bottom: 30px;
}

.cta-buttons a {
  text-decoration: none;
  font-size: 17px;
  padding: 9px 18px;
  border-radius: 980px;
  font-weight: 400;
  margin: 0 5px;
  display: inline-block;
  transition: background-color 0.3s, opacity 0.3s;
}

.btn-primary {
  background-color: #0071e3;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0077ff;
}

.btn-secondary {
  background-color: transparent;
  color: #2997ff;
}

.btn-secondary:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.product-image-container {
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-image {
  width: 800px;
  height: auto;
  margin-top: 50px;
}
