* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
ul,
li {
  list-style: none;
}
.container {
  max-width: 1310px;
  padding: 0 70px;
  margin: 0 auto;
}

/* HEADER */

#header {
  background-color: #28293e;
  padding: 20px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(240, 240, 240);
}
ul {
  display: flex;
  gap: 60px;
}

.contact-btn {
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 36px;
  border: 1px solid white;
  background-color: transparent;
}

.suptitle {
  font-size: 16px;
}

/* WELCOME */

.welcome {
  background-color: #28293e;
  padding: 100px 0;
}

.welcome__inner {
  display: flex;
  gap: 80px;
}

.welcome__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
