* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background: #ce6f0a;
  color: rgb(245, 211, 21);
  height: 100vh;
  display: grid;
  gap: 10px;
}
.grid1 {
  background: #a82c2c;
  grid-column: 1/3;
  grid-row: 1/3;
}
.grid2 {
  background: #b61c1c;
  grid-column: 1/2;
  grid-row: 2/4;
}
.grid3 {
  background: #d51515;
  grid-column: 2/3;
  grid-row: 1/2;
}
.grid4 {
  background: #ff0000;
  grid-column: 2/4;
  grid-row: 3/2;
}
.grid5 {
  background: #c70808;
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid6 {
  background: #dc1414;
  grid-column: 3/4;
  grid-row: 2/3;
}
.grid7 {
  background: #da1717;
  grid-column: 4/5;
  grid-row: 3/4;
}
