body {
  background-color: #b3d7e3;
  margin: 0;
}
.card {
  margin: 0 auto;
  background: #ffffff;
  width: 300px;
  /* border: 2px solid red; */
  border-radius: 20px;
}

.card_img {
  background-color: #fff;
  width: 300px;
  margin: 0 auto;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}
.clas {
  /* position: relative; */
  /* text-align: center; */
  /* border-radius: 2px; */
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  margin: 3px 5px;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
}
.infokom {
  padding: 16px;
  font-style: inherit;
}
.infokom {
  /* border-radius: 13px; */
  /* background-color: aquamarine; */
  width: 100%;
  padding: 8px;
}
.sss {
  background: #bbdce3;
  text-shadow: darkcyan;
  margin-left: 70px;
  /* padding-left: 5px; */
  /* color: blue; */
  font-size: smaller;
  width: 40%;
  border-radius: 30px;
  color: rgb(54, 76, 136);
  height: 40px;
}
