p {
  color:red
}


$primary-color: #ff5733;
$secondary-color: #f7f7f7;
$dark-color: #1a1a1a;
$text-color: #444;

// .about-us {
//   background-color: brown;
// }
// .contacts {
//   background-color: aqua;
// }

.card-1 {
  background-color: blue;
  width: 300px;
  height: 300px;
}
.card-2 {
  background-color: rgb(255, 0, 0);
  width: 200px;
  height: 200px;
}
.card-3 {
  background-color: rgb(24, 144, 18);
  width: 100px;
  height: 100px;
}
