* {
  padding: 0;
  margin: 0;
}
.container {
  background: #101010;
  width: 1400px;
  margin: 0 auto;
  flex-grow: inherit;
  gap: 10px;
  color: #fff;
  /* background-image: url(https://picsum.photos/200/300); */
}
.navbar-logo {
  width: 20px;
  height: 30px;
}
.navbar-list {
  margin: 0;
  cursor: default;
  display: flex;
  justify-content: space-between;
  width: auto;

  /* display: block; */
}
