body {
  font-family: Arial;
  padding: 20px;
  text-align: center;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #de4040;
  padding: 15px;
  margin: 10px;
  width: 180px;
  cursor: pointer;
}

.card:hover {
  background: #b7465b;
}

.box {
  width: 300px;
  margin: 50px auto;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
}
